/*
@keyframes draw-line {
  100% {stroke-dashoffset: 0;}
}

svg {
  position: absolute;
  top: 20px;
}

rect {
  fill: none;
}

#svg_1 {
  stroke: chartreuse;
  stroke-width: 5;
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
  animation: draw-line 5s ease-in-out forwards;
  animation-delay: 5s;
  /*animation-iteration-count: infinite;*/
}

/*
#svg_2 {
  stroke: hotpink;
  stroke-width: 60;
  stroke-dasharray: 670;
  stroke-dashoffset: 670;
  animation: draw-line 5s ease-in-out alternate;
  animation-iteration-count: infinite;
}
*/
