<h2>Home. Find me in views/home.erb</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur amet, iure ex officiis, perferendis illum nobis et fugit libero! Qui fugiat expedita minima, nisi natus doloribus molestias nemo praesentium! Earum.</p>
