<!DOCTYPE html>
<html lang="en">
<head>
  <title>Animals CRUD App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/animals">Animals</a>
    <a href="/animals/new">Create new animal</a>
    <a href="/habitats">Habitats</a>
    <a href="/habitats/new">Create new habitat</a>

  </nav>

  <h1>Animals Sinatra CRUD App</h1>
  <div class="yield">
    <%= yield %>
  </div>

</body>
</html>
