<!DOCTYPE html>
<html>
<head>
  <title>Intro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="/home">Home</a>
  <a href="/about">About</a>
  <a href="/faq">FAQ</a>
  <a href="/lol">lol</a>
  <a href="/auto/chartreuse">Chartreuse</a>
  <a href="/auto/1/2">Engine</a>
  <a href="/calc/1/2/+">Calculate</a>
</nav>

<div class="container">
  <hr>
    <%= yield %>
  <hr>
</div>


</body>
</html>
