<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our Sinatra Application</title>
  <!-- Reference styles with slash file name /style.css You don't need to reference public folder -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/calculate">Calculate</a>
  </nav>

  <h1>Some dynamic HTML (eventually)</h1>

  <div class="yield">
    <%= yield %>
  </div>


</body>
</html>
