<h1>This is the about page</h1>
<h2>Find me in the app/views/pages/about.html.erb</h2>
<ul>
  <li>In config/routes.rb: get '/about' => 'pages#about'</li>
  <li>Redirects to controller/pages_controller.rb: def about 'some code' end</li>
  <li>Redirects to views/pages/about.html.erb: 'this page'</li>
</ul>
