<h1>This is the faq page</h1>
<h2>Find me in the app/views/pages/faq.html.erb</h2>
<ul>
  <li>In config/routes.rb: get '/faq' => 'pages#faq'</li>
  <li>Redirects to controller/pages_controller.rb: def home 'some code' end</li>
  <li>Redirects to views/pages/faq.html.erb: 'this page'</li>
</ul>
