
<h1>This is the home page</h1>
<h2>Find me in the app/views/pages/home.html.erb</h2>
<ul>
  <li>In config/routes.rb: get '/home' => 'pages#home'</li>
  <ul>
    <li>If get request for url 'localhost:3000/home' then redirect to 'pages controller' and then find the method home</li>
  </ul>
  <li>Redirects to controller/pages_controller.rb: def home 'some code' end</li>
  <li>Redirects to views/pages/home.html.erb: 'this page'</li>
</ul>
