<h1>This is the lol page</h1>
<h2>Find me in the app/views/pages/lol.html.erb</h2>
<ul>
  <li>In config/routes.rb: get '/lol' => 'pages#lol'</li>
  <li>Redirects to controller/pages_controller.rb: def lol 'some code' end</li>
  <li>Redirects to views/pages/lol.html.erb: 'this page'</li>
</ul>

<img src="http://www.unsplash.it/300/300" alt="">
