<h1>This is pages#index</h1>

<div id="dashboard">
  <h2 class="currentTime"></h2>
  <p class="lotto"></p>
  <p class="uptime"></p>
  <p class="fortune"></p>
</div>

<div id="lucky">
  <button>Get new numbers</button>
  <p><%= @lotto_numbers %></p>
</div>

<div id="uptime">
  <button>What's uptime?</button>
  <p><%= @uptime %></p>
</div>

<div id="fortune">
  <button>Get a new fortune</button>
  <p><%= @fortune %></p>
</div>
